# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# -------------------------
# Virtual environments
# -------------------------
venv/
env/
.venv/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Docker / Runtime Data
# -------------------------
data/
backend/__pycache__/

# -------------------------
# Ollama Models (Very Important)
# -------------------------
data/ollama/
data/qdrant/
data/uploads/

# -------------------------
# Logs
# -------------------------
*.log
